@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}


input {
    outline: none;
    border: none;
}

.logo img{
    width: 95px;
}

/****NAVIGATION****/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

nav .menu-btn, .menu-icon {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display: flex;
    font-size: 0.65rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.4s ease-in-out;
}

.active {
    background-color: #ffbd04;
    color: #000000;
    box-shadow: 5px 10px 30px rgba(255, 251, 0, 0.384);
}

nav ul li a:hover{
    background-color: #651ed8;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(202, 0, 253, 0.363);

}

/****HEADER****/
.main{
    width: 100%;
    height: 768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/watch.jpeg);
}

.main-heading {
    width: 500px;
    position: absolute;
    left: 17%;
    top: 50%;
    transform: translate(-17%,-50%);
}

.main-heading h1{
    font-size: 44px;
    margin: 0;
    letter-spacing: 3px;
    color: #000000;
}

.main-heading h1 span{
    color: #651ed8;
}

.header-btns {
    margin-top: 40px;
}

.header-btn {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #651ed8;
    box-shadow: 5px 10px 30px rgba(202, 0, 253, 0.363);
    border-radius: 10px;
    color: #fff;
    transition: 0.6s all ease-in-out;
}

.header-btn:hover{
    background-color: #ffbd04;
    color: #000000;
    box-shadow: 5px 10px 30px rgba(255, 251, 0, 0.384);
}

/****ABOUT****/

.about{
    width: 100%;
    height: 110vh;
    background-color: #651ed8;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.about-img{
    width: 50%;
}

.about-img img{
    width: 500px;
}

.about-text {
    width: 45%;
    color: #fff;
}

.about-text h2{
    font-size: 2.3rem;
    font-weight: 600;
}

.about-text h3{
    color: #ffbd04;
}

.about-text p{
    font-size: 1.2rem;
    color: #e2e2e2;
}

.about-text button{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    color: #000000;
    background-color: #ffbd04;
    transition: 0.6s all ease-in-out;
}

.about-text button:hover{
    color: #fff;
    color: #ffbd04;
    box-shadow: 5px 10px 30px rgba(255, 251, 0, 0.384);

}


/****Services****/
.service{
    width: 100%;
    height: 120vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
}

.service-heading{
    text-align: center;
    margin: 20px 0;
}

.service-heading h1{
    color: #000000;
    font-size: 2.5rem;
}

.service-heading p{
    color: rgb(32, 32, 32);
    font-size: 1rem;
}

.service-cotainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-box{
    background-color: #fff;
    width: 370px;
    height: 470px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service-img{
    width: 100%;
    height: 60%;

}

.service-img img{
    width: 100%;
    height: 100%;
}

.service-text{
    width: 100%;
    height: 35%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service-text h4{
    margin-top: -12px;
}

.service-text p{
    text-align: center;
}

/****Subscribe****/

.subscribe{
background-color: #651ed8;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 10px 0px;
margin-top: 80px;
padding: 30px 0px;
}

.subscribe h1{
    font-size: 2.5rem;
    margin: 20px;
    color: #fff;
}

.subscribe-input{
    width: 400px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.subscribe-input input{
    background-color: transparent;
    width: 100%;
    text-align: center;
}

.subscribe-input a {
    width: 200px;
    height: 35px;
    background-color: #651ed8;
    color: #fff;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    margin: auto 10px;
    border-radius: 20px;
    font-weight: 500;
}


/****RESPONSIVE****/

@media  (max-width:1190px){
    .main-heading{
        left: 10%;
        top: 50%;
        transform: translate(-10%,-50%);
    }

    .about-img img{
      height: 400px;
    }

    .service{
        height: auto;
    }

    .service-cotainer{
        flex-wrap: wrap;
    }

    .service-img img{
        object-fit: cover;
    }
}

@media  (max-width:600px){
    .main-heading{
        width: 60%;
    }

    .subscribe{
        text-align: center;
    }

    .subscribe-input{
        width: 350px;
    }
    .about{
        height: 90vh;
    }
}

@media  (max-width:970px){
    .main-heading{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .about-img{
        display: none;
    }

    .header-btns{
        margin-left: 28%;
    }

    .about{
        justify-content: center;
        padding-top: 0px;
        text-align: center;
    }

    .about-text{
        width: 90%;
    }
}

@media  (max-width:1100px) {
    .menu-icon{
        display:block;
    }

    nav{
        justify-content: space-between;
        height: 65px;
        padding: 0 30px;
    }

    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .menu li{
        width: 100%;
    }

    nav .menu li a {
        width: 100%;
        height: 25px;
        justify-content: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(38, 38, 38, 0.03);
    }

    .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 60px;
        position: relative;
        user-select: none;
    }

    .nav-icon{
        background-color: #651ed8;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }

    .nav-icon::before,.nav-icon::after{
        background-color: #651ed8;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }

    .nav-icon::before{
        top: 5px;
    }

    .nav-icon::after{
        top: -5px;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(-45deg);
        top: 0;
    }

    .menu-btn{
        display: none;
    }

    .menu-btn:checked~ .menu{
        display: block;
    }
}

